@using Sitecore.Mvc.Analytics.Extensions
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Event Page - The Adventure Company</title>
    @Html.Sitecore().VisitorIdentification()
    <link rel="stylesheet" type="text/css" href="/Css/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/niteflight.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/addition.css">
    <link rel="stylesheet" type="text/css" href="/Css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Css/Difficulty.css">
</head>
<body class="header-static ">
    <div id="main-container">
        @Html.Sitecore().Placeholder("header")
        <!-- [Page Content] -->
        <main>
            @Html.Sitecore().Placeholder("main")
        </main>
        <!-- [/Page Content] -->
        @Html.Sitecore().Placeholder("footer")
    </div>
    <script src="/Scripts/Sitecore.Foundation.Theming.min.js"></script>
    <script src="/Scripts/Navigation.js"></script>
</body>
</html>